<style>
	#post-content-show a {
		color: #333;
	}
</style>

<div id="hero-bg">
	<div id="hero-back"></div>
	<div id="hero-front">
		<h1>Blog</h1>
	</div>
</div>


<div id="post-content-show">
	<div class="container">
	<% @posts.each do |p| %>
	  <h2><%= link_to p.title, post_path(p[:id]) %></h2>
	  <p><%= p.body %></p>
	<hr>
		<div class="well" id="post-links">
			<%= link_to 'Show Post', post_path(p[:id]), class: "btn btn-primary" %>
			<%= link_to 'Edit Post', edit_post_path(p[:id]), class: "btn btn-info" %>
			<%= link_to 'Delete', p, class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
		</div>
	<hr>
	<% end %>
	</div>
</div>
<br>

<%= link_to 'New Post', new_post_path %>